<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/chatStyle.css">
</head>
<body>
  <div class="cater3-movingBG">
    <div class="flyinTxtCont">
    <div class="flyIn lineOne">FitLife</div>
    <div class="flyIn lineTwo">Insights </div>
    <div class="flyIn lineThree">The Healty Life Manager</div>
      <div class="flyIn lineFour">Diet Planner, Workout Planner, A.I. Support, Routine Maker</div>
    </div>
    </div>
  <div class="container">
    <div class="response">
      <p id="res-text">Hey Buddy!!!</p>
      <p class="ai">How can I Assist you Today</p>
    </div>
    <div class="input-div">
      <input type="text" id="myInput" placeholder="Enter Your Query">
      <button type="button" id="myButton">Ask!!!</button>
  </div>
  <script src="/script2.js"></script>
</body>
</html>
