<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/bughunter.css"/>
  </head>

  <body>
    <h2 class="heading">
      EMPOWER YOUR HEALTH<br />
      EMPOWER YOUR LIFE
    </h2>

    <div class="navbar">
      <a href="#warmup">WARMUP EXERCISES</a>
      <a href="#dailyex">DAILY EXERCISES</a>
      <a href="#shaping">BODY SHAPING EXERCISES</a>
      <a href="#control">DISEASES CONTROL EXERCISES</a>
    </div>
    <div class="show">
      <img src="health.avif" id="img1" />
      <img src="healty.jpg" id="img2" />
      <img src="dietman.avif" id="img3" />
      <img src="benefits-healthy.avif" id="img4" />
    </div>
    <marquee behavior="scroll" direction="left"> 💗</marquee>

    <div id="image"></div>
    <h2 class="heading">WARMUP EXERCISES</h2>
    <div id="warmup">
      <div
        class="elem effect"
        data-image="https://imgs.search.brave.com/1_1TkwPl8xEepGt8gO3_zMEPigABxCoPXQu72vdLks0/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly93d3cu/YmVzdGhlYWx0aG1h/Zy5jYS93cC1jb250/ZW50L3VwbG9hZHMv/MjAxNy8wNS9Bcm0t/RXhlcmNpc2VzLmpw/Zz9maXQ9NzAwLDM5/NA"
      >
        ARM ROTATION
      </div>

      <div
        class="elem effect"
        data-image="https://tse3.mm.bing.net/th?id=OIP._mB7WiqB3d5FB8i7ikF4QwHaE8&pid=Api&P=0&h=180"
      >
        SIDE ROTATION
      </div>

      <div
        class="elem effect"
        data-image="https://fitsri.com/wp-content/uploads/2020/08/utthita-trikonasana-variation-hand-stretched-sideways.jpg"
      >
        TRIANGLE POSE
      </div>

      <div
        class="elem effect"
        data-image="http://originofidea.com/wp-content/uploads/2019/10/STANDING-SIDE-CRUNCH.jpg"
      >
        STANDING CRUNCHES
      </div>

      <div
        class="elem effect"
        data-image="https://imgs.search.brave.com/0TTD1asHqDBAUzxDUITAu28zoIrLHZW1iRoTCe9Bz9o/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly95b2dh/cm92ZS5jb20vd3At/Y29udGVudC91cGxv/YWRzLzIwMjAvMDcv/Y2hhaXItdHdpc3Qu/anBn"
      >
        TWISTERS
      </div>

      <div
        class="elem effect"
        data-image="https://imgs.search.brave.com/jAPsu5hRR5u77_jix1U3UFUaiWOvYw3fhOhj4U0KJxg/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jZG4u/c2hvcGlmeS5jb20v/cy9maWxlcy8xLzE3/NjgvMTExNy9maWxl/cy8zX2NhMzFjZDhh/LWFjYmItNGE3Yi1h/MzA2LTNjYWRhYTZj/ODQ0ZV80ODB4NDgw/LmpwZz92PTE2MjYy/NTc5NDM"
      >
        LOCTUS POSE
      </div>

      <div
        class="elem effect"
        data-image="https://imgs.search.brave.com/nz9ogz5f0ftldJByF-r78cC0cGxaWrz0k_ntIyI4qCU/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9zM2Fz/c2V0cy5za2ltYmxl/LmNvbS9hc3NldHMv/MTcwOTQ0Mi9za2lt/YmxlLXdvcmtvdXQt/dHJhaW5lci1leGVy/Y2lzZS1sZWZ0LWFy/bS1jcm9zcy1zdHJl/dGNoLTJfZnVsbC5q/cGc"
      >
        CROSS STRETCH
      </div>

      <div
        class="elem effect"
        data-image="https://imgs.search.brave.com/7X3oj3P7olSgOrTTwYKGCoeKGhmjKu7FhaF6ZiKDSPQ/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jZG4u/cHJvZC53ZWJzaXRl/LWZpbGVzLmNvbS81/Y2E1ZmU2ODdlMzRi/ZTA5OTJkZjFmYmUv/NjAzZGU5YTg3YzRl/Yjg1YTBhMTQ4MTQw/XzIwMTgtMDktMTJf/Q0FSRElPMl8wMl9X/T01FTjkwMExJTEFT/LS0tMjY0MS0tLS0t/RXhwaXJlcy1vbi0w/OS0xMC0yMDIyLW1p/bi5qcGVn"
      >
        JUMPING JACKS
      </div>
    </div>

    <div class="note">
      <h3>Note:</h3>
      1.Perform each exersise for "20 seconds" and then take rest for "10
      seconds". These exercise will help you to keep your body flexible.<br />
      2.Doing These exercises daily can bring numerous benefits to your overall
      fitness and well-being.
    </div>

    <h2 class="heading">DAILY-EXERCISES</h2>
    <div id="dailyex">
      <div
        class="elem effect"
        data-image="https://imgs.search.brave.com/6YLM_3l6XwN9gvPaM5PF99SpFXSNUmJNQYF0FYJivZQ/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9ibG9n/Lm5hc20ub3JnL2hz/LWZzL2h1YmZzL3B1/c2h1cC13aXRoLWJh/bmQuanBnP3dpZHRo/PTEwMDAmbmFtZT1w/dXNodXAtd2l0aC1i/YW5kLmpwZw"
      >
        PUSHUPS
      </div>

      <div
        class="elem effect"
        data-image="https://imgs.search.brave.com/GtqzUU3tvYpjz-tiOxPsFtHh4f-wo_4JgGPL4Y9gUzU/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzAzLzEzLzg1LzM2/LzM2MF9GXzMxMzg1/MzY1OV9LQUxjN1FX/aFhEQ2ZldGpScE9G/RW4xZWhUdTNSNDZj/Ri5qcGc"
      >
        SQUATS
      </div>

      <div
        class="elem effect"
        data-image="https://imgs.search.brave.com/3fsLT4W1BmmmLrGoRvXKIgoSd2w7KjlmHcwu88dzVzI/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9oaXBz/LmhlYXJzdGFwcHMu/Y29tL2htZy1wcm9k/L2ltYWdlcy9qdW1w/c3F0LTE2MjgxODI2/MDUuanBlZz9jcm9w/PTF4dzoxeGg7Y2Vu/dGVyLHRvcCZyZXNp/emU9MTIwMDoq"
      >
        SOUATJUMP
      </div>

      <div
        class="elem effect"
        data-image="https://imgs.search.brave.com/km5hgzvvupOvNiEw9kMLz9sersMQRGIaf2J5PqkSCrs/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9wb3dl/cmxpZnRpbmd0ZWNo/bmlxdWUuY29tL3dw/LWNvbnRlbnQvdXBs/b2Fkcy8yMDIyLzAy/L0ZvdXItQmVuZWZp/dHMtT2YtVGhlLURp/YW1vbmQtUHVzaC1V/cC5qcGc"
      >
        DIAMOND PUSHUPS
      </div>

      <div
        class="elem effect"
        data-image="https://imgs.search.brave.com/sE5ht74HWfmSxhyimGxZHLuymvhJeGfCHy53e4nA-xo/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzA0LzM5LzYwLzEy/LzM2MF9GXzQzOTYw/MTI2NV9NcHZGczND/Q3dOVjlXbzRMMjNT/TFZ3bmlzck0yUzBD/ZS5qcGc"
      >
        SQUAT JUMPS
      </div>

      <div
        class="elem effect"
        data-image="https://imgs.search.brave.com/g3NjKOXX-66y_hg454EYOJtZbeji40Nu61mLQ_IpAV4/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jZG4u/bW9zLmNtcy5mdXR1/cmVjZG4ubmV0L0NI/cUJONWtNTWttNVpY/MmVId3ZLazktNDE1/LTgwLmpwZw"
      >
        SQUAT HOLD
      </div>

      <div
        class="elem effect"
        data-image="https://imgs.search.brave.com/j-Vg0Ns8TDrEUm_8CIFT2BLycWCvC4o-_QOR7i0U_tk/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9ib2Qt/YmxvZy1hc3NldHMu/cHJvZC5jZC5iZWFj/aGJvZHlvbmRlbWFu/ZC5jb20vYm9kLWJs/b2cvd3AtY29udGVu/dC91cGxvYWRzLzIw/MTcvMTAvMjMxNDE0/NTMvYmVzdC1zdHJl/dGNoaW5nLWV4ZXJj/aXNlcy02MDAtbWlz/dGFrZXMucG5n"
      >
        STRETCHING
      </div>

      <div
        class="elem effect"
        data-image="https://imgs.search.brave.com/AEJ-6TvlFNw3F0ic65IEVW9PdqlxpREeKZ09oiLP-fA/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pMC53/cC5jb20vcG9zdC5o/ZWFsdGhsaW5lLmNv/bS93cC1jb250ZW50/L3VwbG9hZHMvMjAx/OS8wNi9MdW5nZV9G/aXRuZXNzX1RyYWNr/X0ZlbWFsZS0xMjk2/eDcyOC1IZWFkZXIt/MTI5Nng3MjguanBn/P3c9MTE1NSZoPTE1/Mjg"
      >
        LUNGES
      </div>
    </div>

    <div class="note">
      <h3>Note:</h3>
      1.Perform each exersise for "20 seconds" and then take rest for "10
      seconds". These exercise will help you to keep your body flexible.<br />
      2.Doing These exercises daily can bring numerous benefits to your overall
      fitness and well-being.
    </div>
    <h2>SHAPING EXERCISES</h2>

    <div id="shaping">
      <h4>(belly shaping)</h4>
      <div id="belly">
        <div
          class="elem effect"
          data-image="https://imgs.search.brave.com/9CNU2BlEKfIpOVOdm23oocb7LWVm_AyR9PpyOz-JVUM/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93d3cu/dmVyeXdlbGxmaXQu/Y29tL3RobWIvZDRs/OW9SZ21kazZKMlpj/bXBIV1pPRkYtTUJN/PS8xNTAweDAvZmls/dGVyczpub191cHNj/YWxlKCk6bWF4X2J5/dGVzKDE1MDAwMCk6/c3RyaXBfaWNjKCkv/MTAtYm9hdC01NmY5/NGM5ZTNkZjc4Yzc4/NDE5MzEzOGEuanBn"
        >
          BOAT POSE
        </div>

        <div
          class="elem effect"
          data-image="https://imgs.search.brave.com/E3TXSFHTO2sCmxnV_XX5hCb-KcS_8AZDI3kRa4MWDl8/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzAzLzAxLzk5Lzgy/LzM2MF9GXzMwMTk5/ODI4Nl9SaHlHRklo/bU9sQnYxcDBLOGQ4/SHh3MEd0YXhGYmR3/cy5qcGc"
        >
          COBRA POSE
        </div>

        <div
          class="elem effect"
          data-image="https://imgs.search.brave.com/2h6WBnJ8Rc1VJ1u4fQeYhQTgKLA7cHB8PufYS-wdRrc/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9saDUu/Z29vZ2xldXNlcmNv/bnRlbnQuY29tL1dW/V2d6Tkg4c3dyaGwx/cFpuR1dmejZxVTl3/T3VCODFTalNoNkpC/cURsakcyRW4zSXUy/cnZqS0dHVVBNQ083/RmpHSkJ3ZzkteUFU/TWowdzVrZmFiQ3Y3/SFYtSXJCWVloMlRC/MG9Jbnpab1AwVTV1/YTNjYjNKT2N6Q0dD/LUFMdzJWQzRMLVg3/azdSb0Npamg1Rm5n"
        >
          BOW POSE
        </div>

        <div
          class="elem effect"
          data-image="https://imgs.search.brave.com/LjR5SRDiYcta19yF4g9NiDbAN4gMm1PD9IVWOkIt0ww/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93d3cu/YXJ0b2ZsaXZpbmcu/b3JnL3NpdGVzL3d3/dy5hcnRvZmxpdmlu/Zy5vcmcvZmlsZXMv/c3R5bGVzL29yaWdp/bmFsX2ltYWdlL3B1/YmxpYy91bml0eTIv/YmxvZ19pbWFnZS93/b21hbl9kb2luZ19j/YW1lbF9wb3NlX3Vz/dHJhc2FuYS5qcGc_/aXRvaz1XYlBHcEk0/UQ"
        >
          CAMEL POSE
        </div>

        <div
          class="elem effect"
          data-image="https://imgs.search.brave.com/AoW3BIDYHRKkU7iSNuFPUri9nFh25Cb8pq_oDBAjXmA/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pMC53/cC5jb20vcG9zdC5o/ZWFsdGhsaW5lLmNv/bS93cC1jb250ZW50/L3VwbG9hZHMvMjAy/Mi8wMi9ITC0xODg1/MjA0LUFfQ29tcHJl/aGVuc2l2ZV9HdWlk/ZV90b19TdW5fU2Fs/dXRhdGlvbnNfU2Vx/dWVuY2VfQV9CX0Mt/SW5mb2dyYXBoaWMt/U2VxdWVuY2VfQS5q/cGc_dz0xMTU1Jmg9/NDI4OA"
        >
          SUN SALUTATION
        </div>

        <div
          class="elem effect"
          data-image="https://imgs.search.brave.com/UyMULQG7gIyHQ3bd_J0_urr6ILjb8UfFuYeCcb1uWbc/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93d3cu/dmVyeXdlbGxmaXQu/Y29tL3RobWIvWTVW/aUcxbWZpRGtsazYt/emxqam5BSm85Nkxr/PS8xNTAweDAvZmls/dGVyczpub191cHNj/YWxlKCk6bWF4X2J5/dGVzKDE1MDAwMCk6/c3RyaXBfaWNjKCkv/VHJpYW5nbGVQb3Nl/VXR0aGl0YVRyaWtv/bmFzYW5hX2Fubm90/YXRlZC1mYTFiMjMx/NjMzOWM0MGRlOTk2/MGM1Yjk3YmVjY2Jk/Ni5qcGc"
        >
          TRIALNGLE POSE
        </div>

        <div
          class="elem effect"
          data-image="https://imgs.search.brave.com/f85qg_fhGSpzGVJrS7pojD0E9CZ_EqzSmZifAj7qfpI/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93d3cu/ZWtoYXJ0eW9nYS5j/b20vbWVkaWEvaW1h/Z2UvYXJ0aWNsZXMv/Q2hhaXItcG9zZS1V/dGthdGFzYW5hLUVr/aGFydFlvZ2EuanBn"
        >
          CHAIR POSE
        </div>

        <div
          class="elem effect"
          data-image="https://imgs.search.brave.com/6-FZw8ZQpKY4w5GykwFwHTX_OxkICTEBoNaa6qsMQAI/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93d3cu/YXJoYW50YXlvZ2Eu/b3JnL3dwLWNvbnRl/bnQvdXBsb2Fkcy8y/MDIyLzAzL1Bsb3Vn/aC1Qb3NlLSVFMiU4/MCU5My1IYWxhc2Fu/YS5qcGc"
        >
          PLOUGH POSE
        </div>
      </div>
      <br />

      <h4>(legs shaping)</h4>
      <div id="legs">
        <div
          class="elem effect"
          data-image="https://imgs.search.brave.com/GtqzUU3tvYpjz-tiOxPsFtHh4f-wo_4JgGPL4Y9gUzU/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzAzLzEzLzg1LzM2/LzM2MF9GXzMxMzg1/MzY1OV9LQUxjN1FX/aFhEQ2ZldGpScE9G/RW4xZWhUdTNSNDZj/Ri5qcGc"
        >
          SQATES
        </div>

        <div
          class="elem effect"
          data-image="https://imgs.search.brave.com/cATv6OoDfv1vgQ7LNqeWIDJlp4DQBIkZq8-asMOCdlo/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9oaXBz/LmhlYXJzdGFwcHMu/Y29tL2htZy1wcm9k/L2ltYWdlcy9hbmdl/bGEtY2FsZi1leGVy/Y2lzZXMtbWFpbi0x/NTU3ODY2ODM2Lmpw/Zz9jcm9wPTAuNjI1/eHc6MS4wMHhoOzAu/MjExeHcsMCZyZXNp/emU9NjQwOio"
        >
          CALF RAISE
        </div>

        <div
          class="elem effect"
          data-image="https://imgs.search.brave.com/BEKYcdSjyUbJuL4s5LjxMD8neHi4_crrLmeOO391YTU/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9oaXBz/LmhlYXJzdGFwcHMu/Y29tL2htZy1wcm9k/L2ltYWdlcy9zY3Jl/ZW4tc2hvdC0yMDE5/LTA1LTA5LWF0LTQt/NTItNTEtcG0tMTU1/NzQzNjM3Ny5qcGc_/Y3JvcD0wLjk2NHh3/OjAuOTkxeGg7MC4w/MTIxeHcsMCZyZXNp/emU9NjQwOio"
        >
          SINGLE LEG DEDLIFT
        </div>

        <div
          class="elem effect"
          data-image="https://imgs.search.brave.com/qwP9NjSkxG4LSh-JaEswMMyZ64ZAHUftbOAmMRwsovA/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jZG4u/c2hvcGlmeS5jb20v/cy9maWxlcy8xLzE2/MzMvNzcwNS9maWxl/cy9zaWRlX2x1bmdl/c19leGVyY2lzZV80/ODB4NDgwLmpwZz92/PTE2NjM3NjQ4MTM"
        >
          SIDE LUNGE
        </div>

        <div
          class="elem effect"
          data-image="https://imgs.search.brave.com/hAExVJm-y4un1zCKhR2_xIak9MMAg_t1rralRSxTgkk/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pMC53/cC5jb20vcG9zdC5o/ZWFsdGhsaW5lLmNv/bS93cC1jb250ZW50/L3VwbG9hZHMvMjAx/OS8wNy9MZWdfTGlm/dF9FeGVyY2lzZV9G/ZW1hbGUtMTI5Nng3/MjgtSGVhZGVyLTEy/OTZ4NzI4LmpwZz93/PTExNTUmaD0xNTI4"
        >
          SIDE LEG RAISE
        </div>

        <div
          class="elem effect"
          data-image="https://imgs.search.brave.com/KRWZBRLn7xgZx_tn2atwrtQZmf-XmIVx4el83zdgcFQ/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pMC53/cC5jb20vd3d3Lm11/c2NsZWFuZGZpdG5l/c3MuY29tL3dwLWNv/bnRlbnQvdXBsb2Fk/cy8yMDE0LzAyLzUx/NF9CLmpwZz9xdWFs/aXR5PTg2JnN0cmlw/PWFsbA"
        >
          HIGH KNEES
        </div>

        <div
          class="elem effect"
          data-image="https://imgs.search.brave.com/waI-rUCQ1uKLDhPRd_Ecj2AjFK7ZmLtIl_Pg5KAxFCM/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/cHJlbWl1bS1waG90/by9nbHV0ZS1icmlk/Z2UtZml0bmVzcy15/b3VuZy1zcG9ydHkt/d29tYW4tZG9pbmct/aGFsZi1icmlkZ2Ut/cG9zZS1ob21lXzYz/MjM5LTE2Ni5qcGc_/c2l6ZT02MjYmZXh0/PWpwZw"
        >
          GLUTE BRIDGE
        </div>
      </div>
    </div>

    <div class="note">
      <h3>Note:</h3>
      1.Perform each exersise for "20 seconds" and then take rest for "10
      seconds". These exercise will help you to keep your body flexible.<br />
      2.Doing These exercises daily can bring numerous benefits to your overall
      fitness and well-being.
    </div>

    <h2 class="heading">DISEASES CONTROL</h2>
    <div id="control">
      <h4>(HYPERTENSION)</h4>
      <div id="bp">
        <div
          class="elem effect"
          data-image="https://imgs.search.brave.com/GrpWKkxV-w-c9lwDNgIEfnhoZQjEswgtcb0Ywvmj40c/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93d3cu/eW9nYWpvdXJuYWwu/Y29tL3dwLWNvbnRl/bnQvdXBsb2Fkcy8y/MDIxLzA0Lzgtc2F2/YXNhbmEuanBnP3dp/ZHRoPTczMA"
        >
          CORPSE POSE
        </div>

        <div
          class="elem effect"
          data-image="https://imgs.search.brave.com/ml07Ao-xzVnypqgTEolGo4qDEyXCoH7sRM-8k1CsLUc/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMuc3F1YXJlc3Bh/Y2UtY2RuLmNvbS9j/b250ZW50L3YxLzVk/MzFlZDY3MWFiZTc4/MDAwMWIyOTY0ZC85/NGNjMGRjMC00YzQ1/LTQxMzMtODE0NC1m/MTFmMzk0NzcxY2Iv/aW1hZ2UtYXNzZXQu/anBlZw"
        >
          BOUND ANGLE POSE
        </div>

        <div
          class="elem effect"
          data-image="https://imgs.search.brave.com/d0av5PY7GB6X8uoOmQAeOkdKzZaMIGu_jwyGeoieFu0/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzA4LzAxLzEzLzY2/LzM2MF9GXzgwMTEz/NjY2Nl9FOGVVNW5E/SGJzMjNxVU82TEJR/OU1iR1BjcW82SkdQ/MS5qcGc"
        >
          DOWNWARD DOG POSE
        </div>

        <div
          class="elem effect"
          data-image="https://imgs.search.brave.com/A20u1-OC6E7LjtL3IAvTEUC4KvMrHqLKJxxDYnpn6eY/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93d3cu/dmVyeXdlbGxmaXQu/Y29tL3RobWIvaTFr/RHYycVN6SGhpUEh1/bmdIVGlSRmtVWlRV/PS8xNTAweDAvZmls/dGVyczpub191cHNj/YWxlKCk6bWF4X2J5/dGVzKDE1MDAwMCk6/c3RyaXBfaWNjKCkv/QWJvdXQtNzYtMzU2/NzE4NC1IZWFkLUtu/ZWUwMS03OTEtMTM2/N2FmYmExNmZjNDNm/ZGEwNDI4OTRlYzJh/NDQ1NmYuanBn"
        >
          HEAD TO KNEE POSE
        </div>

        <div
          class="elem effect"
          data-image="https://imgs.search.brave.com/te_U5YECsYXCphxtEgX1REZHh-_AxGKQ69ghrzqvk3E/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9yZXMu/Y2xvdWRpbmFyeS5j/b20vcGVsb3Rvbi1j/eWNsZS9pbWFnZS9m/ZXRjaC9mX2F1dG8s/Y19saW1pdCx3XzM4/NDAscV85MC9odHRw/czovL2ltYWdlcy5j/dGZhc3NldHMubmV0/LzZpbHZxZWM1MGZh/bC81cXBWM1NWTHNL/eHRoNUhEd0RYU21m/Lzk1NmZkMWJkMGUw/MjMwOGU1Yjk5YmQw/ZDI4N2IzMzk1L0xl/Z3MtVXAtdGhlLVdh/bGwuanBn"
        >
          LEGS UP THE WALL POSE
        </div>

        <div
          class="elem effect"
          data-image="https://imgs.search.brave.com/UrWXtBcTCZN-NVTHaKGeoNWdLGimAJV-L4UqXMrMulE/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93d3cu/YXJ0b2ZsaXZpbmcu/b3JnL3NpdGVzL3d3/dy5hcnRvZmxpdmlu/Zy5vcmcvZmlsZXMv/c3R5bGVzL29yaWdp/bmFsX2ltYWdlL3B1/YmxpYy91bml0eTIv/YmxvZ19pbWFnZS9z/ZW5pb3Jfd29tYW5f/cHJhY3RpY2luZ19i/cmlkZ2VfcG9zZS5q/cGc_aXRvaz1aVFJa/alhKRQ"
        >
          BRIDGE POSE
        </div>

        <div
          class="elem effect"
          data-image="https://imgs.search.brave.com/E3TXSFHTO2sCmxnV_XX5hCb-KcS_8AZDI3kRa4MWDl8/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzAzLzAxLzk5Lzgy/LzM2MF9GXzMwMTk5/ODI4Nl9SaHlHRklo/bU9sQnYxcDBLOGQ4/SHh3MEd0YXhGYmR3/cy5qcGc"
        >
          COBRA POSE
        </div>

        <div
          class="elem effect"
          data-image="https://imgs.search.brave.com/Xhnk6kuEwrMZPnWKKZ5Hi1UbzrfItUJsEJm6H92KqZ4/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9zdGF0/aWMud2l4c3RhdGlj/LmNvbS9tZWRpYS80/ZjQxZWNfYzRiNzA0/MjRjY2EwNDZkNGE4/ZGZkYzlhYzRlNjNi/ODJ-bXYyLmpwZy92/MS9maWxsL3dfOTc5/LGhfNTAyLGFsX2Ms/cV84NSx1c21fMC42/Nl8xLjAwXzAuMDEs/ZW5jX2F1dG8vZWFz/eV9wb3NlX3lvZ2Ff/c3VraGFzYW5hLmpw/Zw"
        >
          EASY POSE
        </div>
      </div>
      <br />
      <h4><b>(BLOOD SUGAR)</b></h4>
      <div id="sugar">
        <div
          class="suga effect"
          data-image="https://imgs.search.brave.com/oayJwj3nQyxNF_vGTXeAYmOCsoStrdSRA1fvWJvNvKg/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93d3cu/dmVyeXdlbGxmaXQu/Y29tL3RobWIvVlB2/OEhDMXZwNFgzSlRn/YTA4YTA5Mm5KVTBF/PS8xNTAweDAvZmls/dGVyczpub191cHNj/YWxlKCk6bWF4X2J5/dGVzKDE1MDAwMCk6/c3RyaXBfaWNjKCkv/VmVyeXdlbGwtMTEt/MzU2NzE5My1TZWF0/ZWRGb3J3YXJkLTk4/Ni01YzU0YTc2MjQ2/ZTBmYjAwMDE1MmU3/NDAuanBn"
        >
          SEAT FORWARD BEND POSE
        </div>

        <div
          class="suga effect"
          data-image="https://imgs.search.brave.com/2h6WBnJ8Rc1VJ1u4fQeYhQTgKLA7cHB8PufYS-wdRrc/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9saDUu/Z29vZ2xldXNlcmNv/bnRlbnQuY29tL1dW/V2d6Tkg4c3dyaGwx/cFpuR1dmejZxVTl3/T3VCODFTalNoNkpC/cURsakcyRW4zSXUy/cnZqS0dHVVBNQ083/RmpHSkJ3ZzkteUFU/TWowdzVrZmFiQ3Y3/SFYtSXJCWVloMlRC/MG9Jbnpab1AwVTV1/YTNjYjNKT2N6Q0dD/LUFMdzJWQzRMLVg3/azdSb0Npamg1Rm5n"
        >
          BOW POSE
        </div>

        <div
          class="suga effect"
          data-image="https://imgs.search.brave.com/GrpWKkxV-w-c9lwDNgIEfnhoZQjEswgtcb0Ywvmj40c/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93d3cu/eW9nYWpvdXJuYWwu/Y29tL3dwLWNvbnRl/bnQvdXBsb2Fkcy8y/MDIxLzA0Lzgtc2F2/YXNhbmEuanBnP3dp/ZHRoPTczMA"
        >
          CORPSE POSE
        </div>

        <div
          class="suga effect"
          data-image="https://imgs.search.brave.com/rKODY4jXMIMc7aYzE-8m7ydz0p27uR0xQ6XKSGNQDk8/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93d3cu/YXJ0b2ZsaXZpbmcu/b3JnL3NpdGVzL3d3/dy5hcnRvZmxpdmlu/Zy5vcmcvZmlsZXMv/c3R5bGVzL29yaWdp/bmFsX2ltYWdlL3B1/YmxpYy91bml0eTIv/YmxvZ19pbWFnZS9n/aXJsX3ByYWN0aWNp/bmdfY2hpbGQnc19w/b3NlLmpwZz9pdG9r/PW1aeGdaU2RM"
        >
          CHLID'S POSE
        </div>

        <div
          class="suga effect"
          data-image="https://imgs.search.brave.com/AoW3BIDYHRKkU7iSNuFPUri9nFh25Cb8pq_oDBAjXmA/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pMC53/cC5jb20vcG9zdC5o/ZWFsdGhsaW5lLmNv/bS93cC1jb250ZW50/L3VwbG9hZHMvMjAy/Mi8wMi9ITC0xODg1/MjA0LUFfQ29tcHJl/aGVuc2l2ZV9HdWlk/ZV90b19TdW5fU2Fs/dXRhdGlvbnNfU2Vx/dWVuY2VfQV9CX0Mt/SW5mb2dyYXBoaWMt/U2VxdWVuY2VfQS5q/cGc_dz0xMTU1Jmg9/NDI4OA"
        >
          SUN SALUTATION
        </div>

        <div
          class="suga effect"
          data-image="https://imgs.search.brave.com/jh4ns_Phd4A7W-EGyzZpss96IOx_KXLjENeDyDR1YwM/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93d3cu/eW9nYWJhc2ljcy5j/b20veW9nYWJhc2lj/czIwMTcvd3AtY29u/dGVudC91cGxvYWRz/LzIwMTMvMTEvcGxv/dy0wNDEuanBn"
        >
          PLOW POSE
        </div>

        <div
          class="suga effect"
          data-image="https://imgs.search.brave.com/_QLT0wh8TIDpe12mnNg25oaz9upTBOKoHBTo6snNLEw/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93d3cu/Zml0c3JpLmNvbS93/cC1jb250ZW50L3Vw/bG9hZHMvMjAyMS8w/My9zdXBpbmUtc3Bp/bmFsLXR3aXN0LXN1/cHRhLW1hdHN5ZW5k/cmFzYW5hLTEwMjR4/NjgzLmpwZWc"
        >
          SUPINE SPINAL TWIST POSE
        </div>

        <div
          class="suga effect"
          data-image="https://imgs.search.brave.com/6-FZw8ZQpKY4w5GykwFwHTX_OxkICTEBoNaa6qsMQAI/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93d3cu/YXJoYW50YXlvZ2Eu/b3JnL3dwLWNvbnRl/bnQvdXBsb2Fkcy8y/MDIyLzAzL1Bsb3Vn/aC1Qb3NlLSVFMiU4/MCU5My1IYWxhc2Fu/YS5qcGc"
        >
          PLOUGH POSE
        </div>
      </div>
      <h4>(THYROID)</h4>
      <div id="thyroid">
        <div
          class="elem effect"
          data-image="https://imgs.search.brave.com/vT0HT0amjg_jwccYo3dqdYCW3LP8gVyVu3L3W-rUyA4/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pLm1z/Y3dsbnMuY28vbW9z/YWljLXdlbGxuZXNz/L2ltYWdlL3VwbG9h/ZC9mX2F1dG8sd18x/MDAwLGNfbGltaXQv/djE2MzcxNTc1NDUv/QlclMjBCTE9HL1Vu/dGl0bGVkLWRlc2ln/bi0tLTIwMjEtMTEt/MTdUMTkyNzIxLjY4/NC5qcGc"
        >
          FISH POSE
        </div>

        <div
          class="elem effect"
          data-image="https://imgs.search.brave.com/UrWXtBcTCZN-NVTHaKGeoNWdLGimAJV-L4UqXMrMulE/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93d3cu/YXJ0b2ZsaXZpbmcu/b3JnL3NpdGVzL3d3/dy5hcnRvZmxpdmlu/Zy5vcmcvZmlsZXMv/c3R5bGVzL29yaWdp/bmFsX2ltYWdlL3B1/YmxpYy91bml0eTIv/YmxvZ19pbWFnZS9z/ZW5pb3Jfd29tYW5f/cHJhY3RpY2luZ19i/cmlkZ2VfcG9zZS5q/cGc_aXRvaz1aVFJa/alhKRQ"
        >
          BRIDGE POSE
        </div>

        <div
          class="elem effect"
          data-image="https://imgs.search.brave.com/E3TXSFHTO2sCmxnV_XX5hCb-KcS_8AZDI3kRa4MWDl8/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzAzLzAxLzk5Lzgy/LzM2MF9GXzMwMTk5/ODI4Nl9SaHlHRklo/bU9sQnYxcDBLOGQ4/SHh3MEd0YXhGYmR3/cy5qcGc"
        >
          COBRA POSE
        </div>

        <div
          class="elem effect"
          data-image="https://imgs.search.brave.com/6-FZw8ZQpKY4w5GykwFwHTX_OxkICTEBoNaa6qsMQAI/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93d3cu/YXJoYW50YXlvZ2Eu/b3JnL3dwLWNvbnRl/bnQvdXBsb2Fkcy8y/MDIyLzAzL1Bsb3Vn/aC1Qb3NlLSVFMiU4/MCU5My1IYWxhc2Fu/YS5qcGc"
        >
          UPWARD BOW
        </div>

        <div
          class="elem effect"
          data-image="https://imgs.search.brave.com/cKkw_ie60b9BiKhQIyUJIS_aMhXlb4cE3ahc9FKxjso/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93d3cu/c2hhcGUuY29tL3Ro/bWIvWXB1dDF2VGpa/Zk90WE10Y2dUZ1hB/Q2hVTHBVPS8xNTAw/eDAvZmlsdGVyczpu/b191cHNjYWxlKCk6/bWF4X2J5dGVzKDE1/MDAwMCk6c3RyaXBf/aWNjKCkvU2hvdWxk/ZXItU3RhbmQtWW9n/YS1Qb3NlLUdldHR5/SW1hZ2VzLTEzMDg5/MTY0NDktNTc0M2Yx/MmQ4Y2M5NDg4OTlk/ZjE1ZmQ0ZmE2Y2E5/MGMuanBn"
        >
          SHOULDER STAND POSE
        </div>

        <div
          class="elem effect"
          data-image="https://imgs.search.brave.com/rKODY4jXMIMc7aYzE-8m7ydz0p27uR0xQ6XKSGNQDk8/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93d3cu/YXJ0b2ZsaXZpbmcu/b3JnL3NpdGVzL3d3/dy5hcnRvZmxpdmlu/Zy5vcmcvZmlsZXMv/c3R5bGVzL29yaWdp/bmFsX2ltYWdlL3B1/YmxpYy91bml0eTIv/YmxvZ19pbWFnZS9n/aXJsX3ByYWN0aWNp/bmdfY2hpbGQnc19w/b3NlLmpwZz9pdG9r/PW1aeGdaU2RM"
        >
          CHILD POSE
        </div>

        <div
          class="elem effect"
          data-image="https://imgs.search.brave.com/UbI7zkNgHhgScucFTtHaeb80edi3DsiQGjW4733hfng/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pLm1z/Y3dsbnMuY28vbW9z/YWljLXdlbGxuZXNz/L2ltYWdlL3VwbG9h/ZC9mX2F1dG8sd18x/MDAwLGNfbGltaXQv/djE2MzUxMzY0MTMv/QlclMjBCTE9HL1Vu/dGl0bGVkLWRlc2ln/bi0tOTEtLmpwZw"
        >
          BHRAMARI PRANAYAM
        </div>

        <div
          class="elem effect"
          data-image="https://imgs.search.brave.com/9CNU2BlEKfIpOVOdm23oocb7LWVm_AyR9PpyOz-JVUM/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93d3cu/dmVyeXdlbGxmaXQu/Y29tL3RobWIvZDRs/OW9SZ21kazZKMlpj/bXBIV1pPRkYtTUJN/PS8xNTAweDAvZmls/dGVyczpub191cHNj/YWxlKCk6bWF4X2J5/dGVzKDE1MDAwMCk6/c3RyaXBfaWNjKCkv/MTAtYm9hdC01NmY5/NGM5ZTNkZjc4Yzc4/NDE5MzEzOGEuanBn"
        >
          BOAT POSE
        </div>
      </div>
    </div>
    <div class="note">
      <h3>Note:</h3>
      1.Perform each exersise for "20 seconds" and then take rest for "10
      seconds". These exercise will help you to keep your body flexible.<br />
      2.Doing These exercises daily can bring numerous benefits to your overall
      fitness and well-being.
    </div>

  

    <div class="note">
      <h3>Advantages</h3>
      <span class="title">Improved Performance:</span>Warming up prepares your
      muscles, joints, and cardiovascular system for physical activity, leading
      to enhanced performance and reduce fatigue.<br />
      <span class="title">Improved Performance:</span>Warming up prepares your
      muscles, joints, and cardiovascular system for physical activity, leading
      to enhanced performance and reduce fatigue.<br />
      <span class="title">Improved Performance:</span>Warming up prepares your
      muscles, joints, and cardiovascular system for physical activity, leading
      to enhanced performance and reduce fatigue.<br />
      <span class="title">Improved Performance:</span>Warming up prepares your
      muscles, joints, and cardiovascular system for physical activity, leading
      to enhanced performance and reduce fatigue.<br />
    </div>

    <script src="/bughunter.js"></script>
  </body>
</html>