<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diet Details</title>
    <link rel="stylesheet" href="/diteStyle.css">
    <link rel="shortcut icon" href="https://bestellipticalmachinehut.com/wp-content/uploads/BEMH-Site-Icon-2048x2048.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <!--Navbar-->
    <header>
        <div class="navbar">
               <div class="nav-video">
                   <video src="nav-video-sec.mp4" autoplay loop muted></video>
               </div>
               <div class="nav-contant">
                   <a href="/diet">Home</a>
                   <a href="#" class="icon-add"><i class="fa-solid fa-user-plus"></i></a>
               </div>
               <!--popup code-->
               <div class="popup" id="popup">
                 <div class="icon-close" id="icon-close">
                 <i class="fa-solid fa-xmark"></i>
                 </div>
                 <div class="text-div">
                <div class="login"><a href="/logout">Log Out</a></div><hr>
                <div class="login"><a href="dietDetails.html">Your Saved diet details</a></div><hr>
                <div class="login"><a onclick="greeting()">Have a Good Day 😊</a></div>
                 </div>
               </div>
           </div>
       </header>
       <!--Details part-->
    <div class="sav-details">
    <h1>YOUR SAVE DIET DETAILS</h1>
    </div>
    <div class="details-part">
        <%  for(let i=0;i<answers.length;i++)  { %>
          <p>Meal Type:- <%= answers[i].mealType%></p>
          <p>Food Type:-</p>
          <ul>
            <% for(let q=0;q<answers[i].foodType.length;q++) {%>
              <li><%= answers[i].foodType[q]%></li>
            <% }%>
          </ul>
          <p>food Items:- <%=answers[i].foodItems %></p>
          <p>Quantity:- <%=answers[i].quantity %></p>
          <hr>
          <% }%>
    </div>

<!--Footer part-->
    <footer>
        <div class="foot-part">
          <div class="content-foot-img">
             <img src="footer-img.png" alt="">
          </div>
          <div class="content-foot">
            <div class="part">Privacy Policies</div>
            <div class="part">About Us</div>
            <div class="part">Contact Us</div>
          </div>
          <div class="content-foot">
            <div class="part"> Resources And Articals</div>
            <div class="part">Health And Fitness Pros</div>
          </div>
        </div>
        </footer>
        <div class="team">
          <p>Copyrights @2024 Sanskar Educational Group
          --Created by Bug Hunters--</p>
        </div>
        <script src="/script.js"></script>
</body>
</html>