* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #4158D0;
    background-size: cover;
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}

.heading {
    margin-block: 2rem;

}

h2 {
    text-align: center;
    font-size: 70px;
    font-weight: 300;
}

.para {
    margin-block: 3rem;
    padding: 1rem;
    border-bottom: 1px solid black;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: black;
    position: sticky;
    top: 0px;
    z-index: 1;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.7);

}
.navbar a{
    color: beige;
    text-decoration: none;
    font-size: 1.5rem;
    transition: .3s;
}

.navbar a:hover {color: red;
}



li {
    list-style-type: none;
    display: inline;
}
.show{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2,1fr);
    gap: 3rem;
    padding: 2rem;


}
.show img{
    height: 420px;
    width: 500px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    transition: .3s all;
   
}
.show img:hover{
    scale: 1.1;
}
#image {
    background-color: bisque;
    position: fixed;
    top: 60%;
    object-fit: cover;
    background-size: cover;
    left: 70%;
    transition: .3s;
    border-radius: 10px;
    width: 240px;
    height: 240px;
    display: none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.note{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    padding: 1rem;
}

.title{
    font-weight: 600;
    font-size: 1rem;
}
.effect{
    border-bottom: 1px dotted black;
}
.effect:hover {
    color: rgb(249, 249, 251);
    background-color: rgb(79, 96, 250);
    transition: .3s ease;
}



#warmup {
    padding: 20px;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    background-color: rgb(245, 223, 183);
}

#dailyex {
    padding: 20px;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    background-color: rgb(200, 226, 218);
}

#shaping {
    padding: 20px;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
}

#belly {
    background-color: rgb(200, 154, 243);
}

#legs {
    background-color: rgb(254, 156, 156);
}

#control {
    padding: 20px;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
}

#bp {
    background-color: rgb(252, 250, 180);
}

#sugar {
    background-color: rgb(201, 194, 194);
}

#thyroid {
    background-color: rgb(241, 168, 249);
}
