*{
    padding: 0;
    margin: 0;
}
body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}
.container{
    padding-top: 20px;
    /* background-color: rgb(23, 15, 45); */
    background-image: url(bi.jpg);
    background-size: cover;
    width: 100vw;
    height: fit-content;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    font-size: 18px;
    font-weight: 500;
}
.response{
    /* height: 50%; */
    margin-inline: 150px;
    line-height: 1.5;
    font-style: italic;
}
.client{
    text-align: left;
    padding: 10px;
    border-radius: 7px;
    width: fit-content;
    background-color: rgb(99, 99, 244);
}
.ai{
    text-align: right;
    padding: 10px;
    margin-left: 300px;
    border-radius: 7px;
    width: fit-content;
    background-color: aqua;
}
.input-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 60px 60px;
}
input{
    outline: none;
    width: 600px;
    height: 25px;
    border-radius: 5px;
    border: none;
    padding: 5px;
}
button{
    background-color: blue;
    outline: none;
    color: white;
    width: 60px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
}
